html, body {
    height: 100%;
    min-height:0%;
    padding : 0;
    margin: 0;
}


.fill-vertical {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}


.mapbox {
 height: calc(100% - 60px);
}


